.Red{
    color:Red
}
.Green{
    color:Green
}
.Blue{
    color:Blue
}

.white{
    color:white
}
.black{
    color:black
}
.purple{
    color:purple
}

.pink{
    color:pink
}
.indigo{
    color:indigo
}
.



